* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


/*--Navbar--*/
.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
}
.navbar-s1__title{
    color: #A435F0;
}
.navbar-s2{
    padding: 10px;
    border: solid black 1px;
    width: 60%;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar-s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
}
.navbar-s2 input:focus{
    outline: none;
}
.navbar-s3{
    display: flex;
    gap: 10px;
    align-items: center;
}



/*--Categories--*/
.categories{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1px;
}
.categories p{
    background-color: #A435F0;
    padding: 10px;
    border-radius: 30px;
    color: white;

}



/*--sale-image--*//
.sale-image img{
    width: 100%;
}



/*--Recommended--*/
.recommended{
    padding: 10px;
}
.course-card{
    width: 300px;
}
.course-card img{
    width: 100%;
    height: 60%;
}
.recommended__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}



/*--Topics--*/
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}



/*--Popular--*/
.Popular{
    padding: 10px;
    padding-top: 15px;
}
.course-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}
.course-card2{
    width: 300px;
}
.course-card2 img{
    width: 100%;
    height: 60%;
}
.footer{
    background-color: black;
    color: white;
    padding: 30px;
}
.footer__one{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    
}